#exampleInputEmail1{
    width: 500px;
    margin-left: 500px;
    
}

#group{
    width: 500px;
    margin-left: 500px;
}

#h2{
    margin-left: 500px;
}

/*style of button*/
#chin{
    color: yellow;
}

#yapon{
    color: red;
    
}

#list{
    color: yellow;
}


#euro{
    color: gold;
    margin-left: 570px;
}